<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

:root{
    color-scheme: light dark;
    }

	html {
		font-family:  
				Menlo,
				Monaco,
				Lucida Console,
				"Courier New",  
				Courier, 
				monospace;
	}

	body {
		margin: 0;
		padding: 0;
		align-items: center;
		justify-content: center;
	}


</style>
